{% extends 'base.html.twig' %}

{% block body %}
<div class="header"> 
    <div class="logo">
        <a href="/"><img src="{{ '/build/images/logo.png' }}"/></a>
    </div>
    <div class="banner-title">TROUVE TA PAIRE</div>
</div>

<div class="login"><a href="/login"> Se connecter</div></a>
<div class="register"><a href="/register"> S'inscrire</div></a>
<div class="add"><a href="/shoe/new">Ajouter une paire</div></a>




{% endblock %}
