{% extends 'base.html.twig' %}

{% block title %}New Shoe{% endblock %}

{% block body %}
    <h1>Create new Shoe</h1>

    {{ include('shoe/_form.html.twig') }}

    <a href="{{ path('shoe_index') }}">back to list</a>
{% endblock %}
